.section-content {
    min-height: 100vh;
    max-width: 1680px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 768px) {
        padding: 0 4rem;
    }
}

.deco {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 0;

    background: radial-gradient(circle at 50% -50%,
            rgb(var(--background-start-rgb)),
            rgb(var(--background-end-rgb)));
}

.spinner {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: fixed;
  inset: 0;
  pointer-events: none;
}

.spinner:after {
  animation: changeContent .8s linear infinite;
  display: block;
  content: "⠋";
  font-size: 60px;
}

@keyframes changeContent {
  10% { content: "⠙"; }
  20% { content: "⠹"; }
  30% { content: "⠸"; }
  40% { content: "⠼"; }
  50% { content: "⠴"; }
  60% { content: "⠦"; }
  70% { content: "⠧"; }
  80% { content: "⠇"; }
  90% { content: "⠏"; }
}