.name {
    font-family: var(--lato-font);
    color: #000;
    font-size: 80px;
    line-height: normal;
    letter-spacing: .25rem;
    font-weight: 900;

    & div {
        color: #000 !important;
        -webkit-text-stroke: 0 !important;
    }

    & *:not(:first-child) {
        color: #000;
        -webkit-text-stroke: 0;
    }
}